{
    "reddit": {
        "user_agent": "linux:org.vilkku.redditf1:v1.0.0 (by /u/Vilkku)",
        "subreddit": "formula1"
    },
    "mysql": {
        "username": "username",
        "password": "password",
        "host": "localhost",
        "database": "f1bot"
    }
}
