{
    "reddit": {
        "username": "username",
        "password": "password",
        "user_agent": "Descriptive user agent string"
    },
    "mysql": {
        "username": "username",
        "password": "password",
        "host": "localhost",
        "database": "f1bot"
    }
}